.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--accent-color);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: var(--text-color);
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 40px;
}